# .htaccess main domain to subdirectory redirect 
# Do not change this line. 
RewriteEngine on 
RewriteCond %{HTTP_HOST} ^(www.)?terminal.raumderkonfrontation.com$ 
RewriteCond %{REQUEST_URI} !^/Terminal/Terminal-Web/ 
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule ^(.*)$ /Terminal/Terminal-Web/$1 
RewriteCond %{HTTP_HOST} ^(www.)?terminal.raumderkonfrontation.com$ 
RewriteRule ^(/)?$ Terminal/Terminal-Web/index.html [L]