.screen {
	opacity: 0;
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	transition: opacity 400ms ease;
	webkit-transition: opacity 400ms ease-in-out;
}

#screen-0 {
	display: block;
}

.content-de, .content-en {
	display: none;
}

.timetables {
	display: none;
}

#blocking {
	display: none;
	z-index: 1001;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: white;
	opacity: 0;
}