.screen {
	opacity: 0;
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	transition: opacity 400ms ease;
	webkit-transition: opacity 400ms ease-in-out;
}

#screen-0 {
	display: block;
}

.content-de, .content-en {
	display: none;
}

.timetables {
	display: none;
}